
Gravicar.ARDrone3/bin/

Gravicar.ARDrone3/obj/

Gravicar.Bebop2Quadrotor/bin/

Gravicar.Bebop2Quadrotor/obj/

Gravicar.Domain/bin/

Gravicar.Domain/obj/

Gravicar.HAL/bin/

Gravicar.HAL/obj/

Gravicar.Infrastructure/bin/

Gravicar.Infrastructure/obj/

.vs/
